.fix_width_name_column {
    width: 120px;
}
.fix_width_img_column {
    width: 200px;
}

.fix_width_img_column img {
    width: 100%;
}

.fix_width_published_column {
    width: 60px;
}
.fix_width_ordering_column {
    width: 55px;
}
.error_image {
    width: 30%;
    margin: 20px 0;
    border: 1px rgb(230, 230, 230) solid;
}
.image_preload {
    width: 50%;
    margin: 20px 0;
}
.form-check {
    display: flex;
    align-items: center;
}
.form-check label {
    margin-bottom: 0;
}
.check_input {
    margin-left: 50px;
}
.input-group-append .file-upload-browse {
    width: 300px;
}
.group_btn_function {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.group_btn_function select {
    padding: 5px 10px;
    border-radius: 5px;
}
.group_btn_function button {
    outline: none;
    border: none;
    padding: 7px 15px;
    background-color: #f2125e;
    color: white;
    border-radius: 5px;
    transition: all 0.3s ease;
}
.group_btn_function button:hover {
    background-color: #be0d48;
}
